@font-face {
    font-family: 'Rusilla serif';
    src: url('../font/Rusillaserif-Regular.woff2') format('woff2'),
        url('../font/Rusillaserif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rusilla serif';
    src: url('../font/Rusillaserif-Light.woff2') format('woff2'),
        url('../font/Rusillaserif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

