* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.main-card {
    width: 525px;
    height: 300px;
    margin: 150px auto;
    perspective: 500px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.5s all;
    transform-style: preserve-3d;
}

.main-card:hover .card {
    transform: rotateY(180deg);
}


.child-front h1 {
    width: 60%;
    font-family: 'Rusilla serif';
    color: #f5f6f7;
    font-size: 52px;
    letter-spacing: 5px;
    text-align: center;
    align-self: flex-end;
}


.child-front h5 {
    width: 60%;
    font-family: 'Rusilla serif';
    color: #e5c975;
    font-size: 20px;
    text-align: center;
}

.front,
.back {
    width: 100%;
    height: 100%;
    background: rgb(233, 181, 160);
    background: linear-gradient(339deg, rgb(58, 54, 53) 0%, rgba(0, 0, 0, 1) 0%, rgb(48, 48, 45) 100%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    backface-visibility: hidden;
    padding: 10px;
}

.child-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #e5c975;
}
.child-back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.log{
    width: 30%;
}
.detail{
    width: 70%;
    color: white;
    display: flex;
    align-items: center;
}
.backh1 {
    font-family: 'Rusilla serif';
    color: #f5f6f7;
    font-size: 52px;
    letter-spacing: 5px;
    text-align: center;
    transform: translateX(-15px) translateY(125px) rotate(-90deg);
}

.icon{
    font-size: 20px;
    color: #e5c975;
    padding-right: 15px;
    
}
p{
    
    padding: 5px 0px;
}
.backh5 {
    width:115%;
    transform: translateX(8px)translateY(80px) rotate(-90deg);
    font-family: 'Rusilla serif';
    color: #e5c975;
    font-size: 20.35px;
    text-align: center;
}
.back {
    background: url("../img/abstract-dark-black-color-background-overlapping-layers-decor-golden-lines-with-copy-space-for-text-luxury-style-free-vector.jpg") center;
    background-size: cover;
    transform: rotateY(180deg);
}